<h3 class="overviewHeader">Vraag {questionNumber}</h3>
<div class="TableContainer ">
    <table class="table TableComponent-table">
        <tbody>
            <tr class="un-clicked-row">
                <th class="padding adjust-width"></th>
                <th class="FixedHeaderCellComponent x-no-rollup x-header  padding fixed-width">
                </th>
            </tr>
            <tr class="un-clicked-row">
                <th class="FixedHeaderCellComponent y-no-rollup y-header   fixed-width">
                    {questionText}<th>
                <td class="cell-td" data-fact-id="4">
                    <div class="highlight-wrapper">
                        <div class="input-group MultiSelectComponent has-feedback  ">
                            <ul class="select-list">
                                <li class="">
                                    <label class="select-item" role="option" aria-selected="false" tabindex="-1">
                                        <span>
                                            <input type="checkbox" tabindex="1">
                                            <span class="select-item-label">{Option}</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot class="TableComponent-table__overlay"></tfoot>
    </table>
</div>