<h3 class="overviewHeader">Vraag {questionNumber}</h3>
<p class="section-text-2">{questionText}</p>
<div class="TableContainer ">
    <table class="table TableComponent-table">
        <tbody>
            <tr class="un-clicked-row">
                <th class="padding adjust-width"></th>
                <th class="FixedHeaderCellComponent x-no-rollup x-header   fixed-width">
                    {columnHeader1}
                    <span class="trigger">
                        <span class="FixedHeaderCellComponent-info fa fa-info-circle">
                        </span>
                    </span>
                </th>
                <th class="FixedHeaderCellComponent x-no-rollup x-header   fixed-width">
                    {columnHeader2}
                </th>
            </tr>
            <tr class="un-clicked-row">
                <th class="FixedHeaderCellComponent y-no-rollup y-header   fixed-width">
                    {rowHeader1}
                </th>
                <td class="cell-td" data-fact-id="214">
                    <div class="highlight-wrapper">
                        <div class="numeric-component input-group  ">
                            <input type="text" data-templaterowgroupid="" class="form-control numeric-input   " value="{value1}">
                        </div>
                    </div>
                </td>
                <td class="cell-td" data-fact-id="215">
                    <div class="highlight-wrapper">
                        <div class="numeric-component input-group  ">
                            <input type="text" data-templaterowgroupid="" class="form-control numeric-input   " value="{value2}">
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="un-clicked-row">
                <th class="FixedHeaderCellComponent y-no-rollup y-header   fixed-width">
                    {rowHeader2}
                </th>
                <td class="cell-td" data-fact-id="216">
                    <div class="highlight-wrapper">
                        <div class="numeric-component input-group  ">
                            <input type="text" data-templaterowgroupid="" class="form-control numeric-input   " value="{value3}">
                        </div>
                    </div>
                </td>
                <td class="cell-td" data-fact-id="217">
                    <div class="highlight-wrapper">
                        <div class="numeric-component input-group  ">
                            <input type="text" data-templaterowgroupid="" class="form-control numeric-input   " value="{value4}">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot class="TableComponent-table__overlay"></tfoot>
    </table>
</div>