<h3 class="overviewHeader">Vraag {questionNumber}</h3>
<div class="TableContainer ">
    <table class="table TableComponent-table">
        <tbody>
            <tr class="un-clicked-row">
                <th class="padding adjust-width"></th>
                <th class="FixedHeaderCellComponent x-no-rollup x-header  padding fixed-width">
                </th>
            </tr>
            <tr class="un-clicked-row">
                <th class="FixedHeaderCellComponent y-no-rollup y-header   fixed-width">
                    {questionText}<span class="trigger"><span class="FixedHeaderCellComponent-info fa fa-info-circle"></span></span>
                </th>
                <td class="cell-td" data-fact-id="2">
                    <div class="highlight-wrapper">
                        <div class="input-group   has-feedback"><textarea type="text" rows="1"
                                data-templaterowgroupid="" class="form-control  " placeholder="Type hier uw antwoord..."
                                style="resize: none; overflow: hidden; padding-right: inherit; height: 33.3333px !important;"></textarea>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot class="TableComponent-table__overlay"></tfoot>
    </table>
</div>